* {
    margin: 0;
}

a {
  color: var(--couleur-texte);
  text-decoration: none;
}


/* variable des couleur */

:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#8f8f8f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}


/* permet de mettre tout les element sur toute la page */

body {
    display: flex ; /* pour activer flex */
    height: 100vh ; /* pour prendre tout la place de la fenetre */
    flex-direction: column; /* pour mettre les element en colum */
    justify-content: space-between; /* repartit l'espace entre les element le premier en haut le dernier en bas */
    font-family: Arial, sans-serif;
    background-color:var(--fond-principal);
}

button:hover {
    color: var(--objet-survol);
}

button:active {
    color: var(--objet-clic);
}

.boutton_end {
    margin: 25px;
}

.bannier {
    background-color: var(--font-contenu);
    border-radius: 50px;
    padding: 25px 25px;
}

h1 {
    text-align: center;
    margin: 50px 500px;
    font-style: italic;
    font-weight: 900; 
    font-family: Arial, sans-serif; /* permet deviter les souci avec la polisse d'ecriture */
    color:var(--texte-titre)
}


/* bouton de demarage */

header {
    text-align: center;   
}

button {
    background-color: var(--texte-lien);
    color: var(--texte-titre);
    text-decoration: none;
    padding: 10px;
}

h2 {
    margin: 25px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color:var(--texte-titre)
}

.info {
    text-align: center;
    display: flex;
    gap: 200px; /* Espacement entre colonnes */
    justify-content: center;
    color:var(--texte-courant)
}


/* taille des image */

img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50px;
}


/* pour espacer de 200 pixel les logo du fon du site */

.lien-icone {
  margin-left: 200px; 
}
